In [1]:
import pandas as pd
import numpy as np
from time import time

In [2]:
cd

/Users/karatechop

In [3]:
cd /Users/karatechop/Documents/GitHub/senior-thesis-pretextual-stops/Data/RIPA-DATA-CA-as-of-2022\ \(CSV\)

/Users/karatechop/Documents/GitHub/senior-thesis-pretextual-stops/Data/RIPA-DATA-CA-as-of-2022 (CSV)

In [ ]:
pd.read_csv('la_lat_lon_expanded.csv')

In [10]:
cd

/Users/karatechop

In [11]:
cd /Users/karatechop/Documents/GitHub/senior-thesis-pretextual-stops/Data/RIPA-DATA-CA-as-of-2022 (CSV)/Wave 1/LAPD

/Users/karatechop/Documents/GitHub/senior-thesis-pretextual-stops/Data/RIPA-DATA-CA-as-of-2022 (CSV)/Wave 1/LAPD

In [12]:
pd.read_csv('ALL-LAPD-AB953.csv')

,Date,time,Duration,Experience,PID,race,sex,age,type,reason,basis,actions taken,search basis,seizure basis,property seized,evidence,result,location
0,07/01/2018,00:02,10,0,25367,black/african american,1.0,32,2 Equipment,1,NaN,"""18,na"",""20,na"",""1,na""",1,NaN,NaN,1,7,E CENTURY & MAIN
1,07/01/2018,21:50,180,0,25405,middle eastern or south asian,1.0,24,3 Non-Moving,1,NaN,"""5,na""",NaN,NaN,NaN,1,5,Vine St & W Sunset Blvd
2,07/01/2018,21:50,180,0,25406,middle eastern or south asian,1.0,30,3 Non-Moving,1,NaN,"""5,na""",NaN,NaN,NaN,1,5,Vine St & W Sunset Blvd
3,07/01/2018,00:16,15,0,25412,white,2.0,45,NaN,2,1,"""24,na""",NaN,NaN,NaN,1,7,LOUISE Ave & VICTORY Blvd
4,07/01/2018,00:16,15,0,25413,hispanic/latino(a),1.0,30,NaN,2,1,"""18,na""",1,NaN,NaN,1,7,LOUISE Ave & VICTORY Blvd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1602972,11/02/2021,00:19,74,0,2078393,hispanic/latino(a),2.0,25,3 Non-Moving,1,NaN,"""1,na""",NaN,NaN,NaN,1,1,S Main St & E 17th St
1602973,11/02/2021,00:14,81,0,2078394,hispanic/latino(a),1.0,30,3 Non-Moving,1,NaN,"""17,Y"",""18,na"",""1,na"",""4,na""",1,NaN,NaN,1,2,S Santee St & E 16th St
1602974,11/01/2021,01:00,13,0,2078424,hispanic/latino(a),1.0,25,1 Moving,1,NaN,"""1,na"",""4,na""",NaN,NaN,NaN,1,2,Avalon Blvd & E Mlk Blvd
1602975,11/01/2021,01:00,13,0,2078428,hispanic/latino(a),1.0,25,3 Non-Moving,1,NaN,"""17,Y"",""18,na"",""1,na"",""4,na"",""5,na""","1,4",NaN,NaN,1,1,Avalon Blvd & E Mlk Blvd
1602976,11/01/2021,01:00,13,0,2078432,hispanic/latino(a),1.0,18,3 Non-Moving,1,NaN,"""17,Y"",""18,na"",""1,na"",""4,na"",""5,na""",1,NaN,NaN,1,1,Avalon Blvd & E Mlk Blvd